version: '3' # composeファイルのバーション指定
services:
  app: # service名
    image: golang:1.13
    ports:
      - "8080:8080"
    container_name: golang-test-container
    volumes:
      - ./:/go
    tty: true
    depends_on:
      - mysql
  mysql:
    image: mysql:latest
    container_name: mysql-container
    environment:
      MYSQL_ROOT_PASSWORD: root-pass
      MYSQL_DATABASE: golang-test-database
      MYSQL_USER: golang-test-user
      MYSQL_PASSWORD: golang-test-pass